<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacklinsir.hm.dao.SysUserDao">

    <update id="upadte">
        update sys_user t
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="headImgUrl != null">
                headImgUrl = #{headImgUrl},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            updateTime = #{updateTime}
        </set>
        where t.id = #{id}
    </update>
    <select id="findUserByFuzzyUserName" resultType="com.jacklinsir.hm.model.SysUser">
        select *from sys_user
        <where>
            <if test="username!=null and username!=''">
                username LIKE CONCAT('%',#{username},'%')
            </if>
        </where>
    </select>

</mapper>